<footer class="page-footer light-blue">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Like what you see?</h5>
        <p class="grey-text text-lighten-4">Contact me if you wish to use this platform for your own MUN conference!</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contact Info</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="mailto:sachitlumba@gmail.com">Email: sachitlumba@gmail.com</a></li>
          <li><a class="grey-text text-lighten-3" href="tel:+971561138064">Contact Number: +971 561138064</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Designed and built by Sachit Lumba
    </div>
  </div>
</footer>
