{% extends "header.html" %}

{% block content %}

  <div class="row">
    {% for sheet in sheets %}
      <div class="col s12 m6 l4">
        <div class="card red accent-4 hoverable">
          <div class="card-content white-text">
            <span class="card-title">{{sheet.committee}}</span>
            <!-- <p class="truncate">{{sheet.data|safe}}</p> -->
          </div>
          <div class="card-action">
            <a href="{{sheet.committee}}">Open</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}
