{% extends 'header.html' %}

{% block content %}
<div class="row">
  <form method="get">
    {{ filter.form.as_p }}
    <button class="btn" type="submit">Search</button>
  </form>
</div>
<div class="row">
  <table class="highlight responsive-table centered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Committee</th>
        <th>Description</th>
        <th>Timestamp</th>
        <th>Completion Status</th>
      </tr>
    </thead>

    <tbody>
      {% for request in filter.qs %}
      <tr>
        <td>{{request.pk}}</td>
        <td>{{request.committee}}</td>
        <td>{{request.description}}</td>
        <td>{{request.timestamp}}</td>
        <td>
          <a href="change_status/{{request.pk}}">
            {% if request.completed == True %}
            <button class="btn-floating green darken-1">
              <i class="small material-icons">check</i>
            </button>
            {% else %}
            <button class="btn-floating red darken-1">
              <i class="small material-icons">clear</i>
            </button>
            {% endif %}
          </a>
        </td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}
