{% extends 'header.html' %}

{% block content %}

<div class="row">

  <div class="col s12 m12 l6">
    <div class="card red accent-4 hoverable">
      <div class="card-content white-text">
        <span class="card-title">Register</span>
      </div>
      <div class="card-action">
        <a href="{% url 'users:register' %}">Go</a>
      </div>
    </div>
  </div>

  <div class="col s12 m12 l6">
    <div class="card red accent-4 hoverable">
      <div class="card-content white-text">
        <span class="card-title">Login</span>
      </div>
      <div class="card-action">
        <a href="{% url 'users:login' %}">Go</a>
      </div>
    </div>
  </div>

</div>

{% endblock %}
