{% extends 'header.html' %}

{% block content %}
<table class="highlight responsive-table centered">
  <thead>
    <tr>
      <th>Delegate Name</th>
      <th>Delegate Email</th>
      <th>Date of Birth</th>
      <th>Past Conferences</th>
      <th>Committee Preference</th>
      <th>Country Preference</th>
      <th>Allocated Committee</th>
      <th>Allocated Country</th>
      <th>Submit Position Paper</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    {% for d in delegates %}
    <tr>
      <td>{{d.first_name}} {{d.last_name}}</td>
      <td>{{d.email}}</td>
      <td>{{d.dob}}</td>
      <td>{{d.past_conferences}}</td>
      <td>{{d.committee_preference}}</td>
      <td>{{d.country_preference}}</td>

      <td>
        {% for a in allocations %}
        {% if a.delegate == d %}
        {{a.committee}}
        {% endif %}
        {% endfor %}
      </td>
      <td>
        {% for a in allocations %}
        {% if a.delegate == d %}
        {{a.country}}
        {% endif %}
        {% endfor %}
      </td>

      <td><a href="upload_position_paper/{{d.pk}}">
          <button class="btn-floating blue darken-1"><i class="material-icons">subject</i>
        </a></td>
      <td><a href="edit_delegate/{{d.pk}}">
          <button class="btn-floating yellow darken-1"><i class="material-icons">edit</i></button>
        </a></td>
      <td><a href="#modal{{d.pk}}" class="modal-trigger">
          <button class="btn-floating red darken-1"><i class="material-icons">delete</i></button>
        </a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="fixed-action-btn">
  <a href="add_delegate/">
    <button class="btn-floating btn-large green"><i class="material-icons">add</i></button>
  </a>
</div>

{% for d in delegates %}
<div id="modal{{d.pk}}" class="modal">
  <div class="modal-content">
    <p>Are you sure you want to delete the delegate {{d.first_name}} {{d.last_name}}?</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="modal-close waves-effect waves-green btn-flat">No</a>
    <a href="delete_delegate/{{d.pk}}" class="modal-close waves-effect waves-green btn-flat">Yes</a>
  </div>
</div>
{% endfor %}

{% endblock %}
